$white: #ffffff;
$gray-text: rgba(47,79,79,0.9);
$light-gray: rgb(226, 226, 226);

$light-pink: #F2CBBB;
$dark-pink: #e0b19e;
$darkest-pink: #b88876;

$light-blue: #cadadf;
$dark-blue: #4f7583;
$darkest-blue: #749dac;


// darkest blue previously #749dac;
// dark blue prev: #99b7c2;