#hem {
    width: 90%;
    margin: 20px auto;
    margin-top: 30px;
    text-align: center;
    @media only screen and (min-width: $break-small-tablet) {
        display: flex;
        width: 90%;
        margin: 30px auto;
        justify-content: center;
        border-bottom: 1px solid #e2e2e2;
        padding-bottom: 10px;
    }
    @media only screen and (min-width: $break-tablet) {
        width: 80%;
    }
}

.profile-picture {
    height: auto;
    width: 30%;
    max-width: 30%;
    border-radius: 50%;
    @media only screen and (min-width: $break-small-tablet) {
        width: 24%;
        height: 24%;
        align-self: center;
    }
    @media only screen and (min-width: $break-small-tablet) {
        width: 34%;
        height: 34%;
        margin: 0 0 30px 0;
    }

}

.about-text {
    align-self: flex-end;
    border-bottom: 1px solid $light-gray;
    padding-bottom: 11px;
    & h1 {
        font-size: 1.5rem;
        margin-top: 20px;
        color: $darkest-blue;
    }
    & p {
        font-size: 0.9rem;
        margin: 15px auto;
        width: 90%;
        max-width: 400px;
    }
    @media only screen and (min-width: $break-small-tablet) {
        border-bottom: none;
        align-self: center;
        width: 100%;
        margin-left: 30px;
        text-align: left;
        & p {
            margin-left: 0px;
            text-align: left;
            width: 100%;
        }
    }
    @media only screen and (min-width: $break-tablet) {
        margin: 40px auto;
        margin: 0 0 30px 30px;
    }
    @media only screen and (min-width: $break-desktop) {
        & h1 {
            font-size: 3.5rem;
        }
        & p {
            font-size: 1.2rem;
        }
    }
}
