#kontakt {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
    & h3 {
        font-size: 0.9em;
        margin-top: 15px;
        color: #484848;
    }
    & p {
        font-size: 0.8em;
        margin: 15px 0;
        color: $gray-text;    
    }
    @media only screen and (min-width: $break-small-tablet) {
        width: 60%;
    }
    @media only screen and (min-width: $break-tablet) {
        width: 50%;
    }
}

#kontakt div, h3, p {
    text-align: center;
}

