footer {
    width: 100%;
    background-color: $light-pink;
}

footer p {
    margin-bottom: 0px;
    padding-bottom: 30px;
    font-size: 1em;
    color: $gray-text;
    font-size: 0.7em;
}

.social-media-links {
    margin: 0 auto;
    justify-content: space-evenly;
    padding-left: 0px;
    @media only screen and (min-width: $break-small-tablet) {
        width: 60%;
    }
}
.social-media-links li {
    list-style-type: none;
    padding-top: 1.8em;
    padding-bottom: 1em;

}
.social-media-links li a {
    color: $gray-text;
}