.navbar {
    background-color: $light-pink;
}

#navbarNav {
    width: 50%;
     @media only screen and (min-width: $break-small-tablet) {
        width: 60%;
    }
    @media only screen and (min-width: $break-desktop) {
        width: 30%;
    }
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-evenly;
}


.nav-link {
    color: $gray-text;
    &:visited {
        color: $gray-text;
    }
}