.projekt {
    border-bottom: 1px solid #e2e2e2;
}

#header { // the h1 for projects
    font-size: 1.5em;
    color: $darkest-blue;
    font-weight: 500;
}

.width {
    width: 90%;
    margin: 0 auto;
    @media only screen and (min-width: $break-tablet) {
        width: 80%;
    }
}

.card-title {
    font-size: 1.3em;
    color: $darkest-blue;
}

.card-text {
    text-align: left;
    font-size: 0.9em;
    color: $gray-text;
}