#projekt {
    border-bottom: 1px solid #e2e2e2;
}

.header { // the h1 for projects
    font-size: 1.5em;
    color: $darkest-blue;
    font-weight: 500;
    @media only screen and (min-width: $break-desktop) {
        font-size: 2em;
    }
}

.width {
    width: 90%;
    margin: 0 auto;
    @media only screen and (min-width: $break-tablet) {
        width: 80%;
    }
}

.card-title {
    font-size: 1.3em;
    color: $darkest-blue;
}

.card-text {
    text-align: left;
    font-size: 0.9em;
    color: $gray-text;
}

.card-btn {
    background-color: $light-blue;
    color: $gray-text;
    &:hover {
        background-color: #a5c0c9;
    }
    &:last-child {
        margin-left: 10px;
    }
}